.parent {
    display: flex;
    justify-content: space-between;
    background-color: #656565;
}

.child {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 40px;
    gap: 25px;
    padding: 30px;
    height: 100%;
    .flex-container {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        .icon {
            // width: 40px;
            height: 30px;
        }
    }
}

.child a {
    color: white;
    text-decoration: none;
}

.font-4rem {
    font-size: 4rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #656565;
    gap: 25px;
    color: white;
}

@media (max-width: 768px) {
    .parent {
        flex-direction: column;
        gap:10px;
    }
    .footer {
        flex-direction: column;
        gap:10px
    }
}