<div class="parent">
    <div class="child">
        <a>
            <h3>About Us</h3>
        </a>
        <a>
            <h3>Contact Us</h3>
        </a>
        <a>
            <h3>Blog</h3>
        </a>
        <a>
            <h3>Terms and Conditions</h3>
        </a>
        <a>
            <h3>Privacy policy</h3>
        </a>
    </div>
    <div class="child">
        <a>
            <h3>Sign up as rider</h3>
        </a>
        <a>
            <h3>Sign up as driver</h3>
        </a>
    </div>
    <div class="child">
        <h1 class="font-4rem">SWYNG</h1>
        <div class="flex-container">
            <div class="social"><img class="icon" src="../../assets/images/insta.jpg"
                    alt="instagram"></div>
            <div class="social"><img class="icon" src="../../assets/images/fb.jpg"
                    alt="facebook"></div>
            <div class="social"><img class="icon" src="../../assets/images/twitter.jpg"
                    alt="twitter"></div>
        </div>
    </div>
</div>
<div class="footer">
    <a style="text-decoration: none; color: rgb(150, 146, 146);">
        <h2>2023 SWYNG Carpool</h2>
    </a>
    <a style="text-decoration: none; color: rgb(150, 146, 146);">
        <h2>Cookies</h2>
    </a>
    <a style="text-decoration: none; color: rgb(150, 146, 146);">
        <h2>Security</h2>
    </a>
    <a style="text-decoration: none; color: rgb(150, 146, 146);">
        <h2>Legal and Compliance</h2>
    </a>
</div>