.carpool-section {
    background-color: #fff;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carpool-content {
    text-align: center;
    max-width: 800px;
}

.carpool-content h2 {
    font-size: 32px;
}

.carpool-content div {
    font-size: 18px;
    color: #333;
}

.carpool-content a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.carpool-content a:hover {
    color: black;
}


.carpool-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.carpool-image {
    // flex: 1;
    padding-left: 12%;
    width: 50%;
}

.carpool-text {
    // flex: 1;
    // padding: 20px;
    width: 50%;
    // text-align: left;
}


@media (max-width: 768px) {
    .carpool-content {
        padding: 0 20px;
    }

    .carpool-content h2 {
        font-size: 24px;
    }

    .carpool-content div {
        font-size: 16px;
    }

    .carpool-image {
        padding: 0;
        margin-bottom: 20px;
        width: 90vw;
        max-width: 90vw;
        height: auto;
    }

    .carpool-image img {
        width: 90vw;
        height: auto;
    }

    .carpool-text {
        padding: 0;
        text-align: left;
        width: 90vw;
    }
    .carpool-content h2 {
        font-size: 24px;
    }

    .carpool-content div {
        font-size: 16px;
    }

    .carpool-container {
        flex-direction: column;
        align-items: center;
    }
}
