<div class="carpool-section">
    <div class="carpool-content">
        <h2 style="color: rgb(11, 148, 68);">Carpooling made simple</h2>
        <div>Swyng connects drivers and passengers travelling in the same direction.<br>Join the Community and enjoy
            pocket-friendly,safe,and reliable carpooling.</div>
        <p><a>Rider</a> | <a>Driver</a></p>
    </div>
    <div class="carpool-container">
        <div class="carpool-image">
            <img src="../../assets/images/carpool.png" alt="Carpool Image">
        </div>
        <div class="carpool-text">
            <p style="color: rgb(11, 148, 68);"><b>Travelling whenever,wherever</b></p>
            <p><span><b>Download the Swyng App and sign up</b></span><br>Our smart algorithm matches you with compatible
                carpoolers based on your location,destination, and schedule.</p>
            <p><span><b>Search and request for your ride</b></span><br>Browse through potential matches and choose the
                carpoolers you'd like to share a ride with.</p>
            <p><span><b>Get notified and enjoy the ride</b></span><br>Coordinate with your driver and enjoy your shared
                commute.</p>
        </div>
    </div>
</div>