<section class="features-section">
    <div class="feature" style="background-color: rgb(11, 148, 68);">
        <div><img src="../../assets/images/coin.png" alt="Save Money"></div>
        <h3>Save Money</h3>
        <p>With Swyng's carpooling, you can save money on your daily commute by sharing the travel expenses with fellow
            riders.</p>
    </div>
    <div class="feature" style="background-color: rgb(11, 148, 68);">
        <div><img src="../../assets/images/time.png" alt="Comfortable and Reliable"></div>
        <h3>Comfortable and Reliable</h3>
        <p>Enjoy a comfortable and reliable ride with Swyng's carpooling service. Our community of carpoolers ensures a
            seamless journey.</p>
    </div>
    <div class="feature" style="background-color: rgb(11, 148, 68);">
        <div><img src="../../assets/images/built.png" alt="Build Connections"></div>
        <h3>Build Connections</h3>
        <p>Meet new people and build meaningful connections during your shared commute. Swyng brings people together
            through carpooling.</p>
    </div>
    <div class="feature" style="background-color: rgb(11, 148, 68);">
        <div><img src="../../assets/images/safe.png" alt="Safe &amp; Secure 24/7"></div>
        <h3>Safe &amp; Secure 24/7</h3>
        <p>Your safety is our top priority. Swyng offers a safe and secure carpooling experience available 24/7.</p>
    </div>
</section>