.features-section {
    background-color: rgb(11, 148, 68);
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    /* Allow divs to wrap to the next line if the width is limited */
    justify-content: center;
    /* Center the content horizontally */
}

.feature {
    max-width: 200px;
    /* Adjust the width as needed */
    padding: 50px;
    margin: 20px;
    text-align: center;
    color: white;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 18px;
}

@media (max-width: 768px) {

    .feature {
        max-width: 100%;
        padding: 30px;
        margin: 10px;
        text-align: center;
    }
}