<div class="aboutus">
    <h1 style="color: #0b9444;">About us</h1><br>
    <p class="font-12rem">Swing connects riders and passengers travelling in the same direction.</p>
    <p class="font-12rem">We aim to ease ling distance travel across Kenya, focusing on making travel a social,
        reliable, comfortable,
        and covenient experience.</p><br><br><br>
    <p class="font-12rem bold">Transforming transportation in Africa into an exciting and enjoyable experience.</p>
    <br><br><br>
    <button class="learnMoreButton">Learn more</button>
</div>