<div class="custom-box-padding d-flex align">
    <div>
        <div>
            <h1 style="color: white;">Discover Carpooling</h1>
            <div class="info">
                <p>
                    Download the SWYNG App today to enjoy unbeatable prices to your favourite destinations, and
                    revolutionize how you get started.
                </p>
            </div>
            <a href="#" target="_blank"><img class="play-icon" src="../../assets/images/playicon.png"></a>
        </div>
    </div>
    <div class="appstore">
        <img src="../../assets/images/mobile.png" />
    </div>
</div>