.custom-box-padding {
    padding-top: 150px;
    background-color: rgb(11, 148, 68);
    margin-left:40px;
    margin-right: 40px;
    border-radius: 35px;
}

.d-flex {
    display: flex;
}

.align {
    justify-content: space-around;
    align-content: flex-end;
    // align-items: end
}

.info {
    color: white;
    font-size: 16px;
    width: 400px;
}

.play-icon {
    width: 250px;
}

@media (max-width: 768px) {
    .custom-box-padding {
        background-color: rgb(11, 148, 68);
        margin-left:5px;
        margin-right:5px;
        border-radius: 5px;
    }

    .align {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-content: flex-end;
    }

    .appstore-image {
        padding: 0px;
        margin-bottom: 20px;
        width: 90vw;
        max-width: 90vw;
        height: auto;
    }

    .appstore-image img {
        width: 90vw;
        height: auto;
    }

    .info {
        color: white;
        font-size: 16px;
        width: 90vw;
    }
}