<div class="destination-container">
    <h1 style="color: #0b9444;">Our Popular Destinations</h1><br><br><br>
    <div class="flex-container">
        <button type="button" class="destButton">Nairobi - Kisumu</button>
        <button type="button" class="destButton">Nairobi - Eldoret</button>
        <button type="button" class="destButton">Nairobi - Kericho</button>
        <button type="button" class="destButton">Nairobi - Kisumu</button>
    </div>
</div>