<section class="hero-section">
    <div class="center-content">
        <div class="heading">Swyng:</div>
        <div class="sub-heading">Making Carpooling Easy</div>
        <div class="message">Save Money, reduce traffic and make new friends.</div>
        <div class="textbox-strip">
            <input type="text" name="where" placeholder="Where from?">
            <input type="text" name="to" placeholder="Going to?">
            <input type="text" name="today" placeholder="Today">
            <input type="number" name="pass" placeholder="No. of Passengers">
            <button class="search-button">Search</button>
        </div>
        <!-- <div class="pay-via">
            <span class="paylink">You can pay via &nbsp;</span>
            <img class="mpesa-logo" src="../../assets/images/mpesa.png"
                alt="mpesa">
        </div> -->
        <p class="logged-in-status"><img src="../../assets/images/loggedin-logo.png" class="loggedin-logo" alt="Logged-in Logo"></p>
    </div>
</section>