.hero-section {
    height: 100vh;
    overflow: hidden;
    background-image: url(../../assets/images/bgg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox-strip {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.textbox-strip input {
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
}

.search-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: rgb(11, 148, 68);
}

.pay-via {
    margin-top: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mpesa-logo {
    width: 90px;
    height: 35px;
}

.paylink {
    text-decoration: none;
    color: #fff;
    ;
    font-weight: bold;
}

.logged-in-status {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
}

.heading {
    color: white;
    font-size: 60px;
    margin-top: 150px;
    font-weight: bold;
}

.sub-heading {
    color: white;
    font-size: 40px;
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.message {
    color: white;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 768px) {
    .logo {
        max-width: 35%;
    }

    .textbox-strip {
        flex-direction: column;
    }

    .textbox-strip input,
    .search-button {
        width: 100%;
        margin: 5px 0;
    }

    .mpesa-logo {
        width: 70px;
        height: 25px;
    }

    .loggedin-logo {
        width: 80px;
    }
    .heading {
        margin-top: 10px;
    }
    .logged-in-status {
        bottom: -15vh;
    }
}