<app-top-bar></app-top-bar>
<app-banner></app-banner>
<app-carpool></app-carpool>
<app-features></app-features>
<app-testimonials></app-testimonials>
<app-appstore></app-appstore>
<app-about></app-about>
<app-team></app-team>
<app-destination></app-destination>
<app-footer></app-footer>