
.team-section {
  background-color: #fff;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
  margin-bottom: 50px;
}

.team-content {
  text-align: center;
  max-width: 800px;
}


.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.team-image {
  // flex: 1;
  padding-left: 12%;
  width: 40%;
}

.team-text {
  // flex: 1;
  // padding: 20px;
  width: 35%;
  // text-align: left;
}


@media (max-width: 768px) {
  .team-content {
      padding: 0 20px;
  }

  .team-image {
      padding: 0px;
      margin-bottom: 20px;
      width: 90vw;
      max-width: 90vw;
      height: auto;
  }

  .team-image img {
      width: 90vw;
      height: auto;
  }

  .team-text {
      // padding: 20px;
      text-align: left;
      width: 90vw;
  }
  
  .team-container {
      flex-direction: column;
      align-items: center;
  }
}
