<div class="content">
    <div class="logo">
        <img src="../../assets/images/logo.png" />
    </div>
    <div class="nav">
        <div class="nav-item">
            How it Works
        </div>
        <div class="nav-item">
            About Us
        </div>
        <div class="nav-item">
            FAQs
        </div>
        <div class="nav-item">
            Sign In
        </div>
        <div class="nav-item">
            Sign Up
        </div>
    </div>
    <div class="nav-mobile">
        <div class="icon" (click)="toggleNav()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        
    </div>
</div>

<div class="nav-mobile-items" *ngIf="navVisible">
    <div class="nav-item">
        How it Works
    </div>
    <div class="nav-item">
        About Us
    </div>
    <div class="nav-item">
        FAQs
    </div>
    <div class="nav-item">
        Sign In
    </div>
    <div class="nav-item">
        Sign Up
    </div>
</div>