.content {
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    // height: 100%;
    // color: #fff;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.link {
    // color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .logo {
        max-width: 35%;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .nav {
        display: none !important;
    }
    .content {
        // flex-direction: column;
    }
    .nav-mobile {
        display: block !important;
        padding: 10px;
        .icon {
            div {
                width: 30px;
                height: 2px;
                background-color: black;
                margin: 6px 0;
            }
        }
    }
}
.nav-mobile-items {
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-mobile {
    display: none;
}

.nav-item {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color:#28A745;
    font-size: 18px;
    text-align: center;
}
